.createTaskContainer{
    display: block;
    margin: auto;
    width: 80%;
    color: white;

    h2{
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    }

    /* Form add task */
    .formAddTask{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        /* Input textarea */
        textarea {
            width: 100%;
            resize: none;
            border-radius: 0.5rem;
            padding: 0.5rem;
            background-color: rgb(46, 46, 46);
            color: white;
            border: none;
            outline: none;
        }

        /* Label container */
        div{
            display: flex;
            align-items: center;
            gap: 0.2rem;
        }

        /* Button */
        button{
            width: 100%;
            background-color: rgb(86, 86, 231);
            color: white;
            border: none;
            border-radius: 0.5rem;
            padding: 0.5rem;
            cursor: pointer;
        }
    }
}

.tasksSectionContainer{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 90%;
    gap: 0.5rem;

    /* Title */
    h2{
        font-size: 1.5rem;
        margin-top: 1.5rem;
    }

    /* Task container */
    ul {
        width: 80%;

        li{
            width: 100%;
            border: 2px solid black;
            padding: 0.2rem 0.5rem;
            margin: 0.5rem;
            border-radius: 0.5rem;
            cursor: pointer;
        }
    }
}

.formEditContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;

    form{
        margin-top: 2rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        /* Input textarea */
        textarea {
            width: 100%;
            resize: none;
            border-radius: 0.5rem;
            padding: 0.5rem;
            background-color: rgb(46, 46, 46);
            color: white;
            border: none;
            outline: none;
        }

        button{
            width: 100%;
            background-color: rgb(86, 86, 231);
            color: white;
            border: none;
            border-radius: 0.5rem;
            padding: 0.5rem;
            cursor: pointer;
        }
    }    
}

.formAddCommentContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;

    form{
        margin-top: 2rem;
        width: 80%;
        gap: 0.5rem;
        /* Input textarea */
        textarea {
            width: 100%;
            resize: none;
            border-radius: 0.5rem;
            background-color: rgba(61, 61, 61, 0.536);
            padding: 0.5rem;
            color: white;
            border: none;
            outline: none;
        }

        button{
            width: 100%;
            background-color: rgb(86, 86, 231);
            color: white;
            border: none;
            border-radius: 0.5rem;
            padding: 0.5rem;
            cursor: pointer;
        }
    }    
}

.commentsContainer{
    margin: 3rem 0;
    display: flex;
    flex-direction: column;
    gap: 1.0rem;
    width: 80%;

    li{
        border: 2px solid black;
        width: 100%;
        border-radius: 0.2rem;
        padding: 0.5rem;
    }
}