.home{
  color: white;
  height: calc(100vh - 10vh);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  /* Content Article */
  .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    /* Image Article */
    .imageArticle{
      transition: 0.5s ease-in-out;
      @media screen and (min-width: 400px){
        width: 350px;
      }
    }

    /* Description Article */
    .description{
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 1rem;
      gap: 0.5rem;
      transition: 0.5s ease-in-out;

      @media screen and (min-width: 400px){
          font-size: 1.4rem;
      }

      .descriptionSpan{
        transition: 0.5s ease-in-out;
        font-size: 0.9rem;

        @media screen and (min-width: 400px){
          font-size: 1.3rem;
        }
      }
    }

    /* Tags Article */
    .tagsContainer{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
    }
  }
}