.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    background-color: #1b1a1a;
    color: white;

    .title{
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.1rem;
      font-size: 2rem;
      font-weight: 600;

      .plus{
        color: #f83b3b;
        font-size: 1.5rem;
      }
    }

    .buttonEnterInMyAccount {
      background-color: transparent;
      color: white;
      border-radius: 2rem;
      border: 1px solid gray;
      width: 9rem;
      height: 2rem;
      font-size: 12px;
      cursor: pointer;
    }
}